.Content{
    background: #B8BEDD;
}

.Container-Flex{

    display: flex;

    justify-content: center;

}

.Center-Flex{

    width: 25vw;

    padding: 5vw !important;
    
    background-color: #513B56;

}